@charset "utf-8";
/* CSS Document */
section span{
			font-size: 40px;
			font-weight: 200;
			color: #21A51E;
			margin-left: 35px;
		}
		section h3{
			font-weight: 300;
			font-size: 25px;
			margin-left: 40px;
			color: #4C5F52;
		}
		.center1 p{
			margin-left: 40px;
			text-align: justify;
			color: #4C5F52;
			font-size: 14px;
			line-height: 25px;
		}

